*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
/* body */
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 133px 30px;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}


/* Задайте грид для .content и пропишите grid-area для всех элементов внутри. */
.content{
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  grid-template-areas:
    "result details"
  ;
  gap: 30px;
  width: 1140px;
}

/* Левая сторона области */
.result {
  grid-area: "result";
}
/* правая половина окна в которой можно выбрать видео */
.content__details {
  grid-area: "details";
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

/* пареметры подбора видео */
.search-form {
  display: flex;
  justify-content: space-between; /* Прижимает крайние элементы к стенкам */
  gap: auto;
}
/* скрол */
.content__list-container {
  height: 298px;
  overflow-y: auto;
}
/* контейнер в котором лежит видео */
.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
/* Само видео */
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* список карточек с видео */
.content__list {
  display: flex;
  flex-direction: column;
  gap:30px
}
/* карточка  */
.content__video-card {
  display: flex;           /* Включаем flex-контейнер */
  flex-direction: row;     /* Элементы в строку (по умолчанию) */
  align-items: flex-start; /* Прижимаем к началу по вертикали (доп. оси) */
}
/* превью видео */
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
/* контейнер с заголовком и описанием */
.content__video-card-description-container {
flex-grow: 1;
width: 196px;
}
/* Титул контейнера пункта выбора */
.search-form__fieldset-title {
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* титул правой половины окна */
.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
font-weight: 700;
line-height: 94%;
text-transform: uppercase;
}

/* доп стилизация заголовка */
.content__accent {
color: #545050;
font-family: Oswald;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 94%; /* 70.5px */
text-transform: uppercase;
}
/* ссылка */
.content__card-link {
  text-decoration: none;
  color: #fff;
}

/* заголовок карточкии */
.content__video-card-title {
color: #FFF;
font-family: Oswald;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 30px */
text-transform: uppercase;
white-space: nowrap;       /* Запрет переноса строк */
overflow: hidden;          /* Скрытие переполнения */
text-overflow: ellipsis;   /* Многоточие вместо обрезанного текста */
margin-bottom: 6px;
}
/* описание карточки */
.content__video-card-description {
color: #FFF;
font-family: "Fira Sans Condensed";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 16.2px; /* 90% */
overflow: hidden;              /* Скрываем переполнение */
display: -webkit-box;          /* Включаем старый механизм Flexbox */
-webkit-line-clamp: 4;         /* Максимум 4 строки */
-webkit-box-orient: vertical;  /* Вертикальное направление */
text-overflow: ellipsis;       /* Добавляем "…" в конце */
}
/* Сделает label невидиым */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
.search-form__checkbox-list {
  display: flex;
  /* flex-direction: row; */
  gap: 15px;
}
/* форма Контейнер пункта выбора */
.search-form__fieldset {
  border: none;
}
 
/* связывает текст-подпись с полем формы */
.search-form__label {
display: flex;
width: fit-content;
align-items: center;
justify-content: center;
/* width: 229px; */
height: 31px;
gap: 5px;
 
}
/* Вроде вводимый текст в форму */
.search-form__textfield {
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  appearance: none;
}
.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #FFF;
}

/* поиск -форма __ псевдо - флажок */
.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  width: 17px; /* На 1px меньше чекбокса */
  height: 17px; /* На 1px меньше чекбокса */
  background-color: white;
}
.search-form__checkbox-input:checked + .search-form__pseudo-checkbox {
  border-color: #fff; /* Синяя граница при выборе */
  background-color: #fff;
}

.search-form__checkbox-input:checked + .search-form__pseudo-checkbox::after {
    opacity: 1;
  transform: scale(1);
}

/* Скрываем настоящий чекбокс */
.search-form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
Не работает но что-то


Добавьте псевдоэлемент ::after. Белый фон, размер задан, как у чек-бокса. Когда будете стилизовать .search-form__pseudo-checkbox, учитывайте, что в нём появится элемент, который должен оказаться точно по центру. В макете внутренний квадрат включённого чек-бокса на один пиксель меньше самого чекбокса.
Когда чекбокс активен (псевдокласс :checked) — отобразите внутри псевдоэлемент, который стилизовали в ::after.
Факультативный шаг. Когда чекбокс в фокусе — добавьте границу вокруг с использованием outline . Если вы применяли псевдокласс :has() для текстового инпута, здесь тоже будет работать это правило. Вам не придётся прописывать отдельно состояние :focus и :focus-visible для чекбокса. Но если вы пошли другим путём, подумайте, как добиться того, чтобы состояние :focus не создавало обводку у родительского элемента, а состояние :focus-visible создавало.
Декорируйте текст — сделайте так, чтобы при наведении на чекбокс у текста появлялось подчёркивание. Обратите внимание, что оно должно появляться при наведении на любую точку лейбла, а не только на сам текст.
Шаг 5. Стилизуем кнопки и их состояния
На странице две кнопки: одна в форме, другая в списке карточек. У них есть общие стили, но у кнопки в списке карточек есть и собственные. Чтобы всё сделать как надо, созданы три класса: .button , .search-form__submit-button и .more-button. Подумайте, какие стили должны быть в каждом из них.
Сделайте общий класс кнопки. Задайте границу, цвет, шрифт и прозрачный фон.
Пропишите индивидуальные стили для кнопок «Найти» и «Показать ещё».
Для кнопки «Найти» задайте положение в конце контейнера и размер.
Для кнопки «Показать ещё» задайте только размер — так, чтобы она растягивалась на всю ширину контейнера
Стилизуйте состояние кнопок. У всех кнопок на странице три состояния: :hover, :active, :focus-visible. Состояние :focus должно быть сброшено. Эти правила применяются ко всем кнопкам на странице:
 
1. При наведении — текст подчёркивается.
2. Активная кнопка — задайте цвет согласно макету.
3. Для кнопки в фокусе — появляется обводка, заданная через outline.















/* форма Контейнер пункта выбора */
.search-form__fieldset {
  
}



/* связывает текст-подпись с полем формы */
.search-form__label

/* то что прочитает скриндер */
.search-form__label-text



/* Вроде вводимый текст в форму */
.search-form__textfield

/* контейнер опроса утро день вечер */
.search-form__checkbox-list

/* для скриндера */
.search-form__checkbox

/* поиск -форма __ псевдо - флажок */
.search-form__pseudo-checkbox

/* кнопка */
.button {

}

/* кнопка отправки формы поиска */
.search-form__submit-button {

}






/* правая половина окна в которой можно выбрать видео */
.content__details {

}









/* шаблон внутри которого список */
.cards-list-item-template

/* элементы списка */
.content__list-item {


}












/* кнопка показать еще */
.more-button {

}
/* крнтейнер кнопки */
.more-button-template 

/* шаблон ошибки */
.error-template {
  
}
